/libspecs/
.project
red.xml
*.pyc
app-path/*
reports/
.idea/*.*
e2e-tests/testcases/vv_draft/*
bfxqa-robotframework.iml
mobile/resources/testdata/screenshot/TO_BE_DELETED_CAPTURED_IMAGE_AXS.png
mobile/resources/testdata/screenshot/TO_BE_DELETED_CAPTURED_IMAGE_FTM.png
mobile/resources/testdata/screenshot/TO_BE_DELETED_CAPTURED_IMAGE_KAI.png
mobile/resources/testdata/screenshot/TO_BE_DELETED_CAPTURED_IMAGE_PNG.png
mobile/resources/testdata/screenshot/TO_BE_DELETED_CAPTURED_IMAGE_SHIB.png
e2e-tests/testcases/bitfinex/trading/trading_order_form_scaled_orders_test.robot
api/python_library/common/__pycache__/.EncodeLibrary.cpython-39.pyc.icloud
api/python_library/common/__pycache__/.EncodeLibrary1.cpython-39.pyc.icloud
utility/python_library/__pycache__/.SubProcess.cpython-39.pyc.icloud
